@model int
@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
}

<div class="side-bar m-b-50 f-r width-100-20" >
    <div class="w-clearfix">
        <div class="kategoriler">ADVERTORIAL</div>
        <a href="@Constants.GetURL((int)Enums.Routing.Blog_HaberlerKampanyalar,lang)" class="link-block w-clearfix w-inline-block sidemenu-link">
            <div class="div-block-2 w-clearfix">
                <img alt="Haber, Kampanyalar" src="/Upload/Categories/news.png" onerror="this.src = '/Content/img/images/favicon.jpg';" width="19" height="19" class="icon ic2">
            </div>
            <div>@Localization.Get("Haber, Kampanyalar","News, Campaings",lang)</div>
        </a>
        <a href="@Constants.GetURL((int)Enums.Routing.Blog_SaticilarIthalatcilar,lang)" class="link-block w-clearfix w-inline-block sidemenu-link">
            <div class="div-block-2 w-clearfix">
                <img alt="Satıcı, ithalatçılar" src="/Upload/Categories/sellers.png" onerror="this.src = '/Content/img/images/favicon.jpg';" width="19" height="19" class="icon ic2">
            </div>
            <div>@Localization.Get("Satıcı, İthalatçılar","Sellers, Importers",lang) </div>
        </a>
    </div>
    <div class="w-clearfix">
        <div class="kategoriler">BLOG</div>
        <a href="@Constants.GetURL((int)Enums.Routing.Blog_OdyofilSistemler,lang)" class="link-block w-clearfix w-inline-block sidemenu-link">
            <div class="div-block-2 w-clearfix">
                <img alt="Odyofil Sistemleri" src="/Upload/Categories/audiophile_systems.png" onerror="this.src = '/Content/img/images/favicon.jpg';" width="19" height="19" class="icon ic2">
            </div>
            <div>@Localization.Get("Odyofil Sistemleri","Audiophile Systems",lang) </div>
        </a>
        <a href="@Constants.GetURL((int)Enums.Routing.Blog_YazilarMakaleler,lang)" class="link-block w-clearfix w-inline-block sidemenu-link">
            <div class="div-block-2 w-clearfix">
                <img alt="Yazı, Makaleler" src="/Upload/Categories/articles.png" onerror="this.src = '/Content/img/images/favicon.jpg';" width="19" height="19" class="icon ic2">
            </div>
            <div>@Localization.Get("Yazı, Makaleler","Articles",lang) </div>
        </a>
    </div>
</div>

<script>
    window.onload = function() {
        $($('.sidemenu-link')[@Model]).addClass('w--current');
    } 
</script> 