@using WilderMinds.RssSyndication
@model PersonalInformationViewModel
@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
    ViewBag.Title = Localization.Get("Üyelik Bilgilerim", "Personal Information", lang);
    Layout = "_Layout";
    
}
@section style{
<style>

        .tabs-menu-4 {
            width: 100%;
        }

        .tab-link-2 {
            width: auto !important;
            float: left !important;
        }
        .button.button-main.button-satn {
            margin-bottom: 14px;
            width: 100% !important;
            height: auto !important;
        }
        .content {
            width: 100% !important;
        }
    .section-1.sec-altsayfa {
        background-color: white;
    }
    @@media screen and (min-width: 1200px) {
        .section-1.sec-altsayfa.sec-hesaplar > .w-container {
            max-width: 906px;
        }
    }
</style>
    <link rel="stylesheet" href="/Content/plugins/intl/intlTelInput.min.css" />
}
<div class="section-1 sec-altsayfa sec-hesaplar">
    <div class="w-container">
        @*@{
            await Html.RenderPartialAsync("~/Views/Partials/AccountSideMenu.cshtml", 0);
        }*@
        <div class="content w-clearfix">
            @*<div class="div-block-20 div-ilan hesap w-clearfix">
                <h4 class="h2 h4 h-kat h-kategori">@ViewBag.Title </h4>
            </div>*@
            <div class="product product-list urulerim bannerlar">
                <div class="form-block-5 w-form m-0">
                    @using (Html.BeginForm("PersonalInformation", "Account", FormMethod.Post, new { @class = "w-clearfix", enctype = "multipart/form-data" }))
                    {
                        <div class="center text-center">
                            <img src="@(!string.IsNullOrEmpty(Model.User.ProfilePicture) ? Model.User.ProfilePicture:"/Content/img/no-image-user.png")" width="180" alt="user" height="180" id="imgpp" class="object-fit-cover" />
                            <br />
                            <a href="javascript:;" onclick="fileInput()">@Localization.Get("Profil Resmi Seç", "Choose Profile Picture", lang)</a>
                            <input type="file" name="ProfilePictureFile" class="display-none" id="ppFile" />
                        </div>


                        <div class="row margin_bottom">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="field-label">@Localization.Get("Ad Soyad", "Name", lang)*:</label>
                                <input class="textfield w-input text-transform-capitalize" data-val="true" maxlength="100" name="Name" type="text" value="@Model.User.Name" required onkeydown="letterControl(this,event)">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="field-label">@Localization.Get("Kullanıcı Adı", "Username", lang)*:</label>
                                <input class="textfield w-input" data-val="true" maxlength="100" name="UserName" type="text" id="username" value="@Model.User.UserName" required onkeydown="letterControl(this,event)">
                            </div>
                        </div>

                        <div class="row margin_bottom">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="field-label">@Localization.Get("E-Posta", "E-Mail", lang)*:</label>
                                <input class="textfield w-input" data-val="true" maxlength="100" name="Email" type="email" id="email" value="@Model.User.Email" required>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="field-label">@Model.PersonalWebSite:</label>
                                <input class="textfield w-input" data-val="true" maxlength="100" name="WebSite" value="@Model.User.WebSite" type="url">

                            </div>
                        </div>

                        <div class="row margin_bottom">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="field-label">@Localization.Get("Cep Telefonu", "Mobile Phone", lang)*:</label>
                                <input class="textfield w-input" data-val="true" maxlength="100" name="MobilePhone" placeholder="+90 5** *** ** **" type="text" id="phone" value="@Model.User.MobilePhone" required>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="field-label">@Localization.Get("İş Telefonu", "Work Phone", lang):</label>
                                <input class="textfield w-input" data-val="true" maxlength="100" name="WorkPhone" value="@Model.User.WorkPhone" id="workPhone" type="text">
                            </div>
                        </div>

                        <div class="row margin_bottom">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label class="field-label">@Localization.Get("Hakkınızda", "About", lang):</label>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <textarea class="textfield w-input" cols="1" id="content" name="About" rows="10"> @Html.Raw(Model.User.About)</textarea>
                                @*<input class="textfield w-input" maxlength="500" name="About" value="@Model.User.About" type="text">*@
                            </div>
                        </div>

                        <div class="row margin_bottom">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label class="field-la  bel">@Localization.Get("Ülke", "Country", lang)*:</label>
                                <select class="form-control w-dropdown textfield" name="CountryID" id="country">
                                    @foreach (var country in Model.Countries)
                                    {
                                        <!option value="@country.ID" @(Model.User.CountryID==country.ID ? "selected =\"selected\"" :"")>@country.Name</!option>
                                    }
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label class="field-label">@Localization.Get("Şehir", "City", lang)*:</label>
                                <select class="form-control w-dropdown textfield" name="CityID" id="city">
                                    @foreach (var city in Model.Cities.Where(x => x.CountryID == Model.Countries.First().ID))
                                    {
                                        <!option @(Model.User.CityID == city.ID ? "selected" : "") value="@city.ID">@city.Name</!option>
                                    }
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label class="field-label">@Localization.Get("İlçe", "District", lang)*:</label>
                                <select class="form-control w-dropdown textfield" name="DistrictID" id="district"></select>
                            </div>
                        </div>

                        <div class="row margin_bottom">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">                                
                                <label class="field-label">@Localization.Get("Dil", "Language", lang)*:</label>
                                <select class="form-control w-dropdown textfield" id="LanguageID" name="LanguageID">
                                    <option value="1">Türkçe</option>
                                    <option value="2">English</option>
                                </select>
                               
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            </div>

                            @*<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="field-label">@Localization.Get("Doğum Tarihi", "Birthday", lang)*:</label>
                    <input class="textfield w-input" name="BirthDate" id="birthDay" type="date" value="@(Model.User.BirthDate?.ToString("yyyy-MM-dd"))" required>
                </div>*@
                        </div>
                        <div class="row margin_bottom">
                            <div class="offset-4 col-4" style="text-align:center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="InMailing" id="InMailing" @(Model.User.InMailing ? "checked=\"checked\"" : "" )>
                                    <label class="custom-control-label" for="InMailing">@Localization.Get("Haber ve Duyuruları almak istiyorum", "Send me occasional news and announcements", lang)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row margin_bottom">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="row align-items-center">
                                    <input type="submit" value="@Localization.Get("Kaydet", "Save", lang)" class="button button-main button-satn button-submit w-button">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="content w-clearfix">
            <div class="div-block-20 div-ilan hesap w-clearfix display-grid p-b-0 m-b-0 m-t-1-rem">
                <h4 class="h2 h4 h-kat h-kategori">@Localization.Get("Güvenli Ödeme Bilgileri", "Secure Payment Informations", lang) </h4>
                <p>
                    @TextService.GetText(Enums.Texts.GuvenliOdemeBilgilerimAciklama, lang)
                </p>
            </div>
            <div class="product product-list urulerim bannerlar">
                <div data-duration-in="300" data-duration-out="100" class="w-tabs">
                    <div class="tabs-menu-4 tabs-sol w-tab-menu">
                        <a data-w-tab="Tab 1" class="tab-link-2 tb2 w-inline-block w-tab-link w--current">
                            <div>@Localization.Get("Gerçek Şahıs", "Individual Person", lang) </div>
                        </a>
                        <a data-w-tab="Tab 2" class="tab-link-2 tb2 w-inline-block w-tab-link">
                            <div>@Localization.Get("Tüzel Şirket", "Company", lang)</div>
                        </a>

                        @if (Model.UserSecurePaymentDetail?.Type.ToString() == "PERSONAL")
                        {
                            <p class="color-red text-right"> Şu an satıcı profili olarak gerçek şahıs kullanılmaktadır.  </p>
                        }
                        @if (Model.UserSecurePaymentDetail?.Type.ToString() == "PRIVATE_COMPANY")
                        {

                            <p class="color-red text-right"> Şu an satıcı profili olarak tüzel şirket kullanılmaktadır.  </p>
                        }
                        @if (Model.UserSecurePaymentDetail?.Type.ToString() == "LIMITED_OR_JOINT_STOCK_COMPANY")
                        {

                            <p class="color-red text-right"> Şu an satıcı profili olarak tüzel şirket kullanılmaktadır.  </p>
                        }

                    </div>
                    <div class="tabs-content-2 w-tab-content">
                        <div data-w-tab="Tab 1" class="w-clearfix w-tab-pane w--current w--tab-active tab-style">
                            <div class="form-block-5 w-form">
                                @using (Html.BeginForm("SecurePayment1", "Account", FormMethod.Post, new { id = "frmSecurePayment1" }))
                                {
                                    <input name="Type" value="@Iyzipay.Model.SubMerchantType.PERSONAL" hidden />
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Ad", "Name", lang):*</label>
                                            <input class="textfield w-input" maxlength="100" name="Name" type="text" value="@(Model.UserSecurePaymentDetail?.Name)" required onkeydown="letterControl(this,event)">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Soyad", "Surname", lang):*</label>
                                            <input class="textfield w-input" maxlength="100" name="Surname" type="text" value="@(Model.UserSecurePaymentDetail?.Surname)" required onkeydown="letterControl(this,event)">
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("TC Kimlik Numaranız", "TC Identity Number", lang):*</label>
                                            <input class="textfield w-input" maxlength="11" name="TC" type="text" id="tc" value="@(Model.UserSecurePaymentDetail?.TC)" required>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">IBAN:*</label>
                                            <input class="textfield w-input text-transform-uppercase" maxlength="35" name="IBAN" id="iban" type="text" value="@(Html.Raw(string.IsNullOrEmpty(Model.UserSecurePaymentDetail?.IBAN) ? "TR": Model.UserSecurePaymentDetail?.IBAN))" required>
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Cep Telefonu", "Mobile Phone", lang):*</label>
                                            <input class="textfield w-input" maxlength="20" name="MobilePhone" id="phoneIndividual" type="text" value="@(Model.UserSecurePaymentDetail?.MobilePhone)" required>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("E-Posta Adresiniz", "E-Mail Address", lang):*</label>
                                            <input class="textfield w-input" maxlength="100" name="Email" type="email" value="@(Model.UserSecurePaymentDetail?.Email)" required>
                                        </div>
                                    </div>

                                    <h3>
                                        @Localization.Get("Bireysel Bilgileriniz", "Your Legal Address", lang)
                                    </h3>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Gönderici Adresi", "Sender Address", lang):*</label>
                                            <textarea class="textfield w-input form-error-sahis" rows="2" name="SenderAddress" maxlength="200" required>@(Model.UserSecurePaymentDetail?.SenderAddress)</textarea>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Fatura Adresi", "Invoice Address", lang):*</label>
                                            <textarea class="textfield w-input form-error-sahis" rows="2" name="InvoiceAddress" maxlength="200" required>@(Model.UserSecurePaymentDetail?.InvoiceAddress)</textarea>
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="checkbox-field-2 w-checkbox">
                                                <input type="checkbox" id="checkbox" class="w-checkbox-input" required>
                                                <label for="checkbox" class="w-form-label">
                                                    <a href="#" data-toggle="modal" data-target=".modal" class="satici-sozlesmesi">
                                                        @Localization.Get("Pazaryeri Satıcı Sözleşmesi", "Marketplace Agreement", lang)
                                                    </a> @Localization.Get("'ni okudum, kabul ediyorum", "I read, I accept", lang).*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <button type="submit" class="button button-main button-satn button-submit w-button" id="btnSecurePayment1">
                                                @Localization.Get("Bilgilerimi Güncelle", "Update My Info", lang)
                                            </button>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div data-w-tab="Tab 2" class="w-clearfix w-tab-pane">
                            <div class="form-block-5 w-form">
                                @using (Html.BeginForm("SecurePayment2", "Account", FormMethod.Post, new { id = "frmSecurePayment2" }))
                                {
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Ad", "Name", lang):*</label>
                                            <input class="textfield w-input" maxlength="100" name="Name" type="text" value="@(Model.UserSecurePaymentDetail?.Name)" required onkeydown="letterControl(this,event)">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Soyad", "Surname", lang):*</label>
                                            <input class="textfield w-input" maxlength="100" name="Surname" type="text" value="@(Model.UserSecurePaymentDetail?.Surname)" required onkeydown="letterControl(this,event)">
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("TC Kimlik Numaranız", "TC Identity Number", lang):*</label>
                                            <input class="textfield w-input" maxlength="11" id="comp_tc" name="TC" type="text" value="@(Model.UserSecurePaymentDetail?.TC)" required>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">IBAN:*</label>
                                            <input class="textfield w-input" maxlength="35" name="IBAN" id="comp_iban" type="text" value="@(Model.UserSecurePaymentDetail?.IBAN)" required>
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Cep Telefonu", "Mobile Phone", lang):*</label>
                                            <input class="textfield w-input" maxlength="20" name="MobilePhone" id="phone2" type="text" value="@(Model.UserSecurePaymentDetail?.MobilePhone)" required>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("E-Posta Adresiniz", "E-Mail Address", lang):*</label>
                                            <input class="textfield w-input" maxlength="100" name="Email" type="email" value="@(Model.UserSecurePaymentDetail?.Email)" required>
                                        </div>
                                    </div>

                                    <h3>@Localization.Get("Firma Bilgileriniz", "Company Information", lang)</h3>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Firma Türü", "Company Type", lang):*</label>
                                            <select name="Type" class="dropdown-4 select-urun urun-ozellik-select w-dropdown textfield" required>
                                                <!option value="@Iyzipay.Model.SubMerchantType.PRIVATE_COMPANY" @((Model.UserSecurePaymentDetail?.Type==Iyzipay.Model.SubMerchantType.PRIVATE_COMPANY) ?"selected":"")>
                                                    @Localization.Get("Şahıs Şirketi", "Private Company", lang)
                                                </!option>
                                                <!option value="@Iyzipay.Model.SubMerchantType.LIMITED_OR_JOINT_STOCK_COMPANY" @((Model.UserSecurePaymentDetail?.Type==Iyzipay.Model.SubMerchantType.LIMITED_OR_JOINT_STOCK_COMPANY) ?"selected":"")>
                                                    @Localization.Get("Ltd. veya Anonim", "Limited or Joint Stock Comp.", lang)
                                                </!option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Firma Adı", "Company Name", lang):*</label>
                                            <input class="textfield w-input" maxlength="100" name="CompanyName" type="text" value="@(Model.UserSecurePaymentDetail?.CompanyName)" required>
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Gönderici Adresi", "Sender Address", lang):*</label>
                                            <textarea class="textfield w-input form-error-sahis" rows="2" name="SenderAddress" maxlength="200" required>@(Model.UserSecurePaymentDetail?.SenderAddress)</textarea>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Fatura Adresi", "Invoice Address", lang):*</label>
                                            <textarea class="textfield w-input form-error-sahis" rows="2" name="InvoiceAddress" maxlength="200" required>@(Model.UserSecurePaymentDetail?.InvoiceAddress)</textarea>
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Vergi Dairesi", "Tax Office", lang):*</label>
                                            <input class="textfield w-input" maxlength="50" name="TaxOffice" type="text" value="@(Model.UserSecurePaymentDetail?.TaxOffice)" required>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Vergi No", "Tax Number", lang):*</label>
                                            <input class="textfield w-input" maxlength="40" name="TaxNumber" type="text" value="@(Model.UserSecurePaymentDetail?.TaxNumber)" required>
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Firma Telefonu", "Company Phone", lang):*</label>
                                            <input class="textfield w-input" id="compPhone" maxlength="50" name="CompanyPhone" type="text" value="@(Model.UserSecurePaymentDetail?.CompanyPhone)" required>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Firma Fax", "Company Fax", lang):*</label>
                                            <input class="textfield w-input" maxlength="40" name="TaxNumber" type="text" value="@(Model.UserSecurePaymentDetail?.CompanyFax)">
                                        </div>
                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label class="field-label">@Localization.Get("Firma Email", "Company Email", lang):*</label>
                                            <input class="textfield w-input" maxlength="100" name="CompanyEmail" type="email" value="@(Model.UserSecurePaymentDetail?.CompanyEmail)" required>
                                        </div>

                                    </div>
                                    <div class="row margin_bottom">
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <button type="submit" class="button button-main button-satn button-submit w-button" id="btnSecurePayment2">
                                                @Localization.Get("Bilgilerimi Güncelle", "Update My Info", lang)
                                            </button>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div id="alertArea">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Content/plugins/intl/intlTelInput.min.js"></script>
    <script src="/Content/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="/Content/plugins/JQueryMask/jquery.mask.js"></script>
    <script>

        function telInput(selector) {
            const input = document.querySelector(selector);
            const instance = window.intlTelInput(input, {
                dropdownContainer: document.body,
                initialCountry: "tr",
                preferredCountries: ['tr', 'us'],
                utilsScript: "/Content/plugins/intl/utils.js"
            });
            return instance;
        }
        const tcValidation = (tc)=> tc.length !== 11 || isNaN(tc) !== false;
        const ibanValidation= (iban)=>iban.length !== 26 || iban.slice(0, 2) !== "TR" || isNaN(iban.slice(2, 26) !== false);

        if (@Model.User.CityID != null)
        {
        $('#city').val(@Model.User.CityID);
        // $('#district').val(@Model.User.DistrictID);

    }
        var countries = @Html.Raw(Json.Serialize(Model.Countries));
        var cities = @Html.Raw(Json.Serialize(Model.Cities));
        var districts = @Html.Raw(Json.Serialize(Model.Districts));


        $(function () {            
            var lang = @Model.User.LanguageID;
            $("#LanguageID").val(lang);
        loadDistricts(parseInt($('#city').val()));

        $('#district').val(@Model.User.DistrictID);
    });

        $("#frmSecurePayment1").submit(function(e) {
            const isInValidTc = tcValidation($("#tc").val());
            const isInValidIban = ibanValidation( $("#iban").val().split(' ').join('').toUpperCase());
            if (isInValidTc) {
                const tcError= '@Localization.Get("TC Kimlik Noyu Hatalı Girdiniz","Wrong Identity Number",lang)';
                showAlert(tcError, "danger");
                e.preventDefault();
                return;
            }
            if (isInValidIban) {
                const ibanError = '@Localization.Get("Iban numaranızı kontrol ediniz","Please check your iban number",lang)';
                showAlert(ibanError, "danger");
                e.preventDefault();
                return;
            }
        });
        $("#frmSecurePayment2").submit(function(e) {
            const isInValidTc = tcValidation($("#comp_tc").val());
            const isInValidIban = ibanValidation( $("#comp_iban").val().split(' ').join('').toUpperCase());
            if (isInValidTc) {
                const tcError= '@Localization.Get("TC Kimlik Noyu Hatalı Girdiniz","Wrong Identity Number",lang)';
                showAlert(tcError, "danger");
                e.preventDefault();
                return;
            }
            if (isInValidIban) {
                const ibanError = '@Localization.Get("Iban numaranızı kontrol ediniz","Please check your iban number",lang)';
                showAlert(ibanError, "danger");
                e.preventDefault();
                return;
            }
        });
        $('#country').change(function() {
            var country = parseInt($(this).val());
            loadCities(country);
        });

        $('#city').change(function() {
            var city = parseInt($(this).val());
            loadDistricts(city);
        });

        function loadCities(country) {
            $('#city').html('');
            $('#district').html('');
            cities.forEach(function(item) {
                if (item.countryID === country) {
                    var id=item.id;
                    $('#city').append('<option value="'+item.id+'">'+item.name+'</option>');
                }
            });
            loadDistricts(parseInt($('#city').val()));
        }

        function loadDistricts(city) {
            $('#district').html('');
            districts.forEach(function(item) {
                if (item.cityID === city) {
                    $('#district').append('<option value="'+item.id+'">'+item.name+'</option>');
                }
            });
        }






        function fileInput() {
            $('#ppFile').click();
        }

        $('#ppFile').change(function() {
            var input = $('#ppFile')[0];
            @* console.log(input.files); *@
            if ( true ) {
                @*console.log('reader');*@
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#imgpp').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        });


    var iti = telInput("#phone");
    var iti2 = telInput("#workPhone");
    var iti3 = telInput("#phone2");
    var iti4 = telInput("#phoneIndividual");
    var iti5= telInput("#compPhone");

    </script>
    <script src="/Content/plugins/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#content',
            plugins: 'image code',
            toolbar: 'undo redo | image code',
            menubar: false,
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor colorpicker textpattern"
            ],
            image_advtab: true,
            toolbar: 'insert | undo redo |  formatselect | bold italic underline backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image | help',
            // without images_upload_url set, Upload tab won't show up
            images_upload_url: '/Account/Blog/UploadImage',

            // we override default upload handler to simulate successful upload
            images_upload_handler: function (blobInfo, success, failure) {

                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '/Account/Blog/UploadImage');
                xhr.onload = function () {
                    var json;

                    if (xhr.status !== 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);

                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }
                    success(json.location);
                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.fileName);
                xhr.send(formData);


            },

            init_instance_callback: function (ed) {
                //ed.execCommand('mceImage');
            }
        });
    </script>
}